@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;


}


@media (min-width: 100%) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0
  }

  section {
    height: 100%;
  }




  span {
    position: fixed;
    pointer-events: none;
    animation: animate 7s linear infinite;
  }
}